<li id="<%= dom_id post %>" class="py-5 relative z-0">
  <div class="flex items-center space-x-2 mb-2">
    <div class="w-6 h-6 flex-shrink-0 rounded-full overflow-hidden">
      <%= image_tag "https://unavatar.io/github/erozas" %>
    </div>
    <div class="flex items-center space-x-3">
      <span class="font-semibold text-sm text-gray-900"><%= post.user.username %></span>
      <span class="text-xs text-gray-400"><%= time_ago_in_words(post.created_at) %> ago</span>
    </div>
  </div>
  <div class="aspect-square bg-gray-100 relative overflow-hidden rounded-md border border-gray-300 z-0">
    <%= image_tag cdn_image_url(post.image), class: "w-full h-full object-cover" %>
  </div>
  <div class="flex items-center space-x-4 mt-3">
    <i class="far fa-heart text-xl"></i>
    <i class="far fa-comment text-xl"></i>
    <i class="far fa-bookmark text-xl"></i>
  </div>
  <p class="text-slate-700 text-sm mt-2">
    <span class="font-semibold text-black"><%= post.user.username %></span>
    <span><%= post.caption %></span>
  </p>
  <p class="text-sm cursor-pointer text-gray-400 mt-3">Leave a comment</p>
</li>