<% content_for :title, "Posts" %>

<div class="w-full h-screen flex justify-center">
  <div id="posts" class="w-[620px] flex">
    <% if @posts.any? %>
      <ul class="divide-y divide-slate-300 mx-16">
        <% @posts.each do |post| %>
          <%= render post %>
        <% end %>
      </ul>
    <% else %>
      <%= render "empty_state" %>
    <% end %>
  </div>

  <div class="ml-32 w-[320px] mt-8">
    <% if user_signed_in? %>
      <div class="flex space-x-3">
        <div class="w-10 h-10 bg-gray-200 rounded-full overflow-hidden">
          <%= image_tag "https://unavatar.io/github/#{current_user.username}", class: "w-full h-full object-cover" %>
        </div>
        <div class="flex flex-col justify-center">
          <span class="text-sm font-medium leading-tight"><%= current_user.username %></span>
          <span class="text-sm text-gray-500 leading-tight"><%= current_user.full_name %></span>
        </div>
      </div>
    <% end %>

    <div class="mt-6">
      <h5 class="text-sm font-medium text-gray-500">Suggested for you</h5>
      <div class="space-y-4 mt-4">
        <div class="flex space-x-3">
          <div class="w-10 h-10 flex-shrink-0 bg-gray-200 rounded-full overflow-hidden">
            <%= image_tag "https://i.pravatar.cc/100?img=15", class: "w-full h-full object-cover" %>
          </div>
          <div class="flex w-full items-center justify-between">
            <div class="flex flex-col justify-center">
              <span class="font-medium text-sm leading-tight">thans</span>
              <span class="text-sm text-gray-500 leading-tight">Travis Hanselman</span>
            </div>
            <button class="text-sm text-blue-500  font-medium">Follow</button>
          </div>
        </div>
        <div class="flex space-x-3">
          <div class="w-10 h-10 flex-shrink-0 bg-gray-200 rounded-full overflow-hidden">
            <%= image_tag "https://i.pravatar.cc/100?img=21", class: "w-full h-full object-cover" %>
          </div>
          <div class="flex w-full items-center justify-between">
            <div class="flex flex-col justify-center">
              <span class="font-medium text-sm leading-tight">jmagicd</span>
              <span class="text-sm text-gray-500 leading-tight">Jenna Davis</span>
            </div>
            <button class="text-sm text-blue-500  font-medium">Follow</button>
          </div>
        </div>
        <div class="flex space-x-3">
          <div class="w-10 h-10 flex-shrink-0 bg-gray-200 rounded-full overflow-hidden">
            <%= image_tag "https://i.pravatar.cc/100?img=32", class: "w-full h-full object-cover" %>
          </div>
          <div class="flex w-full items-center justify-between">
            <div class="flex flex-col justify-center">
              <span class="font-medium text-sm leading-tight">slopemary</span>
              <span class="text-sm text-gray-500 leading-tight">Maria Lopez</span>
            </div>
            <button class="text-sm text-blue-500  font-medium">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
